body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
}

section {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}

ol {
    padding-left: 1.5rem;
}